<nav class="md-navbar navbar navbar-expand-lg navbar-light bg-white sticky-top">

    <a id="sideNavOpener" class="text-dark" href="javascript:void(0)">
        <i class="fas fa-bars"></i>
    </a>

    <div class="container">

        <a class="navbar-brand" href="{{ path('dash_home_index') }}">
            <img src="{{ asset('/assets/images/logotype.png') }}" width="100" class="d-inline-block align-top" alt="" loading="lazy">
        </a>

        <div class="collapse navbar-collapse" id="navbarColor03">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dash_post_index') }}">Посты</a>
                </li>

            </ul>

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Вернуться на главную</a>
                </li>

            </ul>

        </div>

    </div>

</nav>

<div id="sideNavCloser">
    <div id="sideNavBack"></div>
</div>

<div id="sideNav">

    <div class="sidenav-links">

        {% if app.user %}
            <div class="m-2">
                <a style="width: 225px;" class="btn btn-primary btn-block" href="{{ path('post_add') }}">Добавить пост</a>
            </div>
        {% endif %}

        <a class="sidenav-link" href="{{ path('post_category', {'slug':'news'}) }}">
            <span class="dashbar-nav-name">
                Новости
            </span>
        </a>


        <a class="sidenav-link" href="{{ path('post_category', {'slug':'announcement'}) }}">
            <span class="dashbar-nav-name">
                Объявлении
            </span>
        </a>

        <a class="sidenav-link" href="{{ path('post_category', {'slug':'questions'}) }}">
            <span class="dashbar-nav-name">
                Вопросы
            </span>
        </a>

        {% if app.user %}

            <hr style="margin: 6px">

            <a class="sidenav-link text-danger" href="{{ path('app_logout') }}">
                <span class="dashbar-nav-name">
                Выйти
            </span>
            </a>

        {% endif %}

    </div>

</div>
