{% if sidebar and app.user or not sidebar %}

    {% if sidebar %}

        <div class="col-3 sidebar-b">
        <div class="md-box sticky-top">

    {% endif %}

    <nav class="md-usermenu">

        <ul>

            {% if not sidebar %}

                <li>
                    <a href="{{ path('dash_post_index') }}">
                        <span class="icon"><i class="fas fa-copy"></i></span>
                        Посты
                    </a>
                </li>

                <li>
                    <a href="{{ path('dash_category_index') }}">
                        <span class="icon"><i class="fas fa-clone"></i></span>
                        Категории
                    </a>
                </li>

                <div class="text-muted mx-3 my-1">Модерация</div>

                <hr class="m-1">

                <li>
                    <a href="{{ path('dash_moderation_posts') }}">
                        <span class="icon"><i class="fas fa-th-list"></i></span>
                        Посты
                        {% if post_moderation > 0 %}
                            <span class="badge badge-pill badge-danger">{{ post_moderation }}</span>
                        {% endif %}
                    </a>
                </li>

                <li>
                    <a href="{{ path('dash_moderation_comments') }}">
                        <span class="icon"><i class="fas fa-tasks"></i></span>
                        Комментарии
                        {% if comment_moderation > 0 %}
                            <span class="badge badge-pill badge-danger">{{ comment_moderation }}</span>
                        {% endif %}
                    </a>
                </li>

            {% endif %}

        </ul>

    </nav>

    {% if sidebar %}

        </div>
        </div>

    {% endif %}

{% endif %}
