{{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-primary">{{ button_label|default('Добавить') }}</button>

    <a class="btn btn-link float-right" href="{{ path('dash_category_index') }}">Отмена</a>

{{ form_end(form) }}
