<div class="col-3 sidebar-b">

    <div class="md-box sticky-top">

        {% if app.user %}

            <table class="table table-hover">
                <tbody>

                    <tr>
                        <td style="width: 0;">
                            <div class="back-picture bp-35" style="background-image: url('{% if app.user.avatar %}{{ vich_uploader_asset(app.user) }}{% else %}{{ asset('assets/images/avatar.jpg') }}{% endif %}')"></div>
                        </td>
                        <td style="padding-left: 0">
                            <a href="{{ path('user_profile', {'username':app.user.username}) }}">Мой профиль</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 0; text-align: center;">
                            <i class="fas fa-toolbox"></i>
                        </td>
                        <td style="padding-left: 0">
                            <a href="{{ path('dash_home_index') }}">Менеджер</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 0; text-align: center;">
                            <i class="fas fa-user-cog"></i>
                        </td>
                        <td style="padding-left: 0">
                            <a href="{{ path('user_settings') }}">Настройки</a>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 0; text-align: center;">
                            <i class="fas fa-door-open"></i>
                        </td>
                        <td style="padding-left: 0">
                            <a href="{{ path('app_logout') }}">Выйти</a>
                        </td>
                    </tr>

                </tbody>
            </table>

        {% endif %}

    </div>

</div>
