<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/chosen-js/chosen.css') }}">
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>

    <body>

        {% include 'layouts/navbar.html.twig' %}

        {% block top_adv %}
        {% endblock %}

        <div class="md-container container">

            <div class="row">

                {% block sidebar_a %}
                {% endblock %}

                <div class="col-sm">
                    {% block body %}
                    {% endblock %}
                </div>

                {% block sidebar_b %}

                    <div class="col-3 sidebar-b">

                        <div class="md-box">

                            {% if app.user %}

                                <table class="table table-hover">
                                    <tbody>

                                    <tr>
                                        <td style="width: 0;">
                                            <div class="back-picture bp-35" style="background-image: url('{% if app.user.avatar %}{{ vich_uploader_asset(app.user) }}{% else %}{{ asset('assets/images/avatar.jpg') }}{% endif %}')"></div>
                                        </td>
                                        <td style="padding-left: 0">
                                            <a href="{{ path('user_profile', {'username':app.user.username}) }}">Мой профиль</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 0; text-align: center;">
                                            <i class="fas fa-user-cog"></i>
                                        </td>
                                        <td style="padding-left: 0">
                                            <a href="{{ path('user_settings') }}">Настройки</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 0; text-align: center;">
                                            <i class="fas fa-door-open"></i>
                                        </td>
                                        <td style="padding-left: 0">
                                            <a href="{{ path('app_logout') }}">Выйти</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            {% endif %}

                        </div>

                    </div>

                {% endblock %}

            </div>

        </div>

        {% block footer %}
            {% include 'layouts/footer.html.twig' %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}

    </body>

    {% block scripts %}{% endblock %}

</html>
