{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="md-box md-content-padding">

        <div class="md-post">

            {{ postInfo(post) }}
            {{ postTitle(post,false) }}
            {{ postCategories(post) }}
            {{ postImage(post) }}
            {{ postDescription(post) }}

        </div>

    </div>

{% endblock %}
