{% extends 'dashboard/base.html.twig' %}

{% block title %}
    Менеджер управления
{% endblock %}

{% block body %}

    <div class="container dash-crud-header">

        <h1>Менеджер</h1>

    </div>

    <div class="md-box">

        <table class="table table-hover">

            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Модерация</th>
                </tr>
            </thead>

            <tbody>

            {% for section,info in moderation %}

                <tr>

                    <td>
                        <a href="{{ path(info.path) }}">{{ section | trans({}, 'information') }}</a>
                    </td>

                    <td style="text-align: center">

                        {% if info.count > 0 %}
                            <a class="badge badge-pill badge-danger" href="{{ path(info.path) }}">{{ info.count }}</a>
                        {% else %}
                            -
                        {% endif %}

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

    <div class="md-box md-box-margin">

        <table class="table table-hover">

            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Статистика</th>
                </tr>
            </thead>

            <tbody>

            {% for section,count in informations %}

                <tr>

                    <td>
                        {{ section | trans({}, 'information') }}
                    </td>

                    <td style="text-align: center">

                        {{ count }}

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}
