{% if post.section == 'ads' %}

    <div class="md-post md-box md-post-ad">

        <div class="md-ad-image back-picture bp-not-round" style="margin-right: 16px;background-image: url('{{ vich_uploader_asset(post) }}')">
        </div>

        <div style="padding-top: 12px">
            {{ postTitle(post) }}
            {{ postInfo(post,'medium') }}
            {{ postCategories(post) }}
            {{ postPrice(post) }}
        </div>

        {{ postActions(post,false) }}

    </div>

{% elseif post.section == 'questions' %}

    <div class="md-post md-box md-content-padding">

        {{ postTitle(post) }}
        {{ postInfo(post) }}
        {{ postCategories(post) }}
        {{ postDescription(post,100) }}
        {{ postActions(post) }}

    </div>

{% elseif post.section == 'news' %}

    <div class="md-post md-box md-content-padding md-post-news">

        {{ postTitle(post) }}
        {{ postInfo(post) }}
        {{ postCategories(post) }}
        {{ postImage(post) }}
        {{ postDescription(post,180) }}
        {{ postActions(post) }}

    </div>

{% endif %}
